  .wrapper .main {
    background-color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .hero-img {
      background-image: url("../assets/portada.png");
      background-size: cover;
      padding: 160px 80px 120px;
      min-height: 85vh;
      color: #fff;
      display: block;
      @media (max-width: $mobile-breakpoint) {
        padding: 100px 30px 150px;
        min-height: 50vh;
        background-position: center;
      }
      .hero-subtitle {
        font-size: 1.5rem;
        margin-bottom: 18px;
        font-weight: bold;
        @media (max-width: $mobile-breakpoint) {
          display: none;
        }
      }
      .hero-title {
        font-size: 7.5rem;
        margin-bottom: 15px;
        line-height: 6rem;
        max-width: 650px;
        font-weight: bold;
        @media (max-width: $mobile-breakpoint) {
          font-size: 1.5rem;
          font-weight: bold;
          margin-bottom: -20px; }
      }
      .hero-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 198px;
        height: 60px;
        background: rgba(157, 151, 151, 0.541521);
        border-radius: 9px;
        margin-right: 25px;
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 300;
        @media (max-width: $mobile-breakpoint) {
          width: 131px;
          height: 43px;
          margin-right: 7px;
          border-radius: 3px; 
        }
      }
      .hero-series-subtitle {
        margin-top: 20px;
        font-size: 1.4rem;
        @media (max-width: $mobile-breakpoint) {
          display: none;
        }
      }
      .hero-series-description {
        margin-top: 10px;
        font-size: 1.4rem;
        max-width: 600px;
        line-height: 2rem;
        font-weight: 300;
        @media (max-width: $mobile-breakpoint) {
          display: none;
        }
      }
    }
    .series-courflix {
      margin: -100px 0 50px;
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      width: 100%;
      -ms-overflow-style: none;
      @media (max-width: $mobile-breakpoint) {
        padding: 0 30px; 
      }
      ::-webkit-scrollbar {
        display: none;
        height: 0;
        width: 0;
        background-color: transparent;
         }
      .carousel-wrapper {
        .series-title {
          font-size: 1.5rem;
          color: #fff;;
          font-weight: bold;
          @media (max-width: $mobile-breakpoint) {
            font-size: 1.2rem; 
          }
        }
        .fas {
        }
        .series-carousel {
          margin-top: 22px;
          margin-bottom: 50px;
          @media (max-width: $mobile-breakpoint) {
            margin-top: 15px;
            margin-bottom: 25px;
        }
          .series {
            margin-right: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            .preview-link {
              
              .series-img {
                margin-bottom: 10px;
                @media (max-width: $mobile-breakpoint) {
                  width: 220px;
                  height: 124px; 
                }
              }
            }
            .grey-loading {
              margin-top: 5px;
              height: 7px;
              width: 280px;
              background-color: grey;
              @media (max-width: $mobile-breakpoint) {
                display: none; 
              }
              .red-loading-1 {
                width: 43%;
                background-color: indianred;
                height: 100%;
              }
              .red-loading-2 {
                width: 17%;
                background-color: indianred;
                height: 100%;
              }
              .red-loading-3 {
                width: 90%;
                background-color: indianred;
                height: 100%;
              }
              .red-loading-4 {
                width: 65%;
                background-color: indianred;
                height: 100%;
              }
            }
          }        
      }
      }
    }
  }