.wrapper .main {
    background-color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    .series-preview {
      background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%), url("../assets/breakingbad04.png");
      background-size: cover;
      padding: 30px 80px 150px;
      color: #fff;
      min-width: 100vw;
      min-height: 85vh;
      font-family: 'Open Sans', sans-serif;
      @media screen and (max-width: $tablet-breakpoint) {
        padding: 30px 50px 120px;
        min-height: 65vh;
      }
      @media screen and (max-width: $mobile-breakpoint) {
        padding: 100px 30px 130px;
        min-height: 50vh ;
        background-position: center;
      }
      .fa-arrow-left {
        position: absolute;
        top: 50;
        left: 25;
        color: #fff;
        padding: 25px 0 0;
        font-size: 2rem;
        @media screen and (max-width: $mobile-breakpoint) {
          font-size: 1rem;
        }
      }
      .series-logo {
        @media screen and (max-width: $mobile-breakpoint) {
          display: none;
        }
      }
      .preview-title {
        display: none;
        @media screen and (max-width: $mobile-breakpoint) {
          display: block;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
      .series-details {
        margin: -40px 0 40px;
        font-size: 1.1rem;
        @media screen and (max-width: $mobile-breakpoint) {
          margin: 15px 0 17px;
        }
        .span{
          margin-right: 10px;
        }
        .coincidence-meter {
          color: #009C04;
          font-weight: bold;
          @media screen and (max-width: $mobile-breakpoint) {
            display: none;
          }
        }
        .release-year {
          color: #FFFFFF;
        }
        .appropiate-age {
          color: #FFFFFF;
          padding: 2px 6px;
          border: 1px solid #979797;
          border-radius: 8px;
          @media screen and (max-width: $mobile-breakpoint) {
            border: none;
          }
        }
        .seasons-available {
          color: #FFFFFF;
          font-weight: bold;
        }
      }
      .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 198px;
        height: 60px;
        background: rgba(157, 151, 151, 0.541521);
        border-radius: 9px;
        margin-right: 25px;
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 300;
        @media screen and (max-width: $mobile-breakpoint) {
          width: 131px;
          height: 43px;
          margin-right: 7px;
          border-radius: 3px; 
        }
      }
      .button-1 {
        background-color: #ED0A1D;
      }
      .far {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 7px;
        margin-right: 10px;
        @media screen and (max-width: $mobile-breakpoint) {
          display: none;
        }
      }
      .series-description {
        margin-top: 20px;
        font-size: 1.4rem;
        max-width: 600px;
        line-height: 2.1rem;
        font-weight: 300;
        @media screen and (max-width: $mobile-breakpoint) {
          display: none;
        }
      }
    }
    .series-courflix-preview {
      margin: -100px 0 50px;
      padding: 0 80px;
      width: 100%;
      -ms-overflow-style: none;
      @media screen and (max-width: $tablet-breakpoint) {
        padding: 0 50px;
      }
      @media screen and (max-width: $mobile-breakpoint) {
        padding: 0 30px; 
      }
      ::-webkit-scrollbar {
        display: none;
        height: 0;
        width: 0;
        background-color: transparent;
         }
      .carousel-wrapper {
        .series-title {
          font-size: 1.5rem;
          color: #fff;
          font-weight: bold;
          @media screen and (max-width: $mobile-breakpoint) {
            font-size: 1.2rem; 
          }
        }
        .series-carousel {
          margin-top: 22px;
          margin-bottom: 50px;
          @media screen and (max-width: $mobile-breakpoint) {
            margin-top: 15px;
            margin-bottom: 25px;
            flex-direction: column;
            align-items: flex-start;
        }
          .series {
            margin-right: 16px;
            @media screen and (max-width: $mobile-breakpoint) {
              display: flex;
              flex-direction: row;
              margin-bottom: 20px;
            }
            .preview-link {
              outline: none;
              border: 0;
              .series-img {
                margin-bottom: 10px;
                width: 341px;
                height: 192px;
                @media screen and (max-width: $mobile-breakpoint) {
                  width: 131px;
                  height: 75px; 
                }
              }
            }
            .episode-info {
              display: none;
              @media screen and (max-width: $mobile-breakpoint) {
                display: flex;
                flex-direction: column;
                color: #fff;
                margin-left: 10px;
                font-size: 1rem;
              }
              .episode-title {
                font-weight: bold;
                margin-bottom: 15px;
              }
              .episode-description {

              }
            }
          }            
          }
          }
      }
      }