.series-preview {
  background-image: linear-gradient(270deg, rgba(0, 0, 0, 0.0001) 0%, #000000 100%), url("../assets/breakingbad04.png");
  background-size: cover;
  padding: 60px 80px 130px;
  color: #fff;
  min-width: 100vw;
  min-height: 800px;
  font-family: 'Open Sans', sans-serif;
  display: none;
  @media (max-width: 650px) {
    padding: 50px 30px 130px;
    min-height: 70vh ;
  }
  .fa-arrow-left {
    position: absolute;
    top: 60;
    left: 30;
    color: #fff;
    padding: 25px 0 0;
    font-size: 2rem;
  }
  .series-logo {
  }
  .series-details {
    margin: -40px 0 29px;
    .span{
      margin-right: 10px;
    }
    .coincidence-meter {
      color: #009C04;
      font-weight: bold;
    }
    .release-year {
      color: #FFFFFF;
    }
    .appropiate-age {
      color: #FFFFFF;
      padding: 2px 6px;
      border: 1px solid #979797;
      border-radius: 8px;
    }
    .seasons-available {
      color: #FFFFFF;
      font-weight: bold;
    }
  }
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 198px;
    height: 60px;
    background: rgba(157, 151, 151, 0.541521);
    border-radius: 9px;
    margin-right: 25px;
    text-decoration: none;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 300;
  }
  .button-1 {
    background-color: #ED0A1D;
  }
  .far {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 7px;
    margin-right: 10px;
  }
  .series-description {
    margin-top: 20px;
    font-size: 1.4rem;
    max-width: 600px;
    line-height: 2.1rem;
    font-weight: 300;
  }
}