*, *:before, *:after {
  box-sizing: border-box;
}
html { scroll-behavior: smooth; }

.wrapper {
  min-width: 100vw;
  font-family: 'Open Sans', sans-serif;
  .header {
    display: flex;
    align-items: center;
    font-weight: bold;
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.801218);
    .title-link {
      .header-title {
        padding: 12px 85px;
      }
    }
    .nav {
      white-space: nowrap;
      display: inline;
      font-size: 1.2rem;
      @media (max-width: 800px){
      display: none;
      }
      .header-options {
        color: #fff;
        padding-right: 27px;
        text-decoration: none;
      }
    }
  }
  .main {
    background-color: #000;
    display: flex;
    flex-direction: column;
    .hero-img {
      background-image: url("../assets/portada.png");
      background-size: cover;
      padding: 175px 80px 130px;
      min-height: 800px;
      color: #fff;
      display: block;
      .hero-subtitle {
        font-size: 1.5rem;
        margin-bottom: 18px;
        font-weight: bold;
      }
      .hero-title {
        font-size: 7.5rem;
        margin-bottom: 15px;
        line-height: 6rem;
        max-width: 650px;
        font-weight: bold;
      }
      .hero-button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 198px;
        height: 60px;
        background: rgba(157, 151, 151, 0.541521);
        border-radius: 9px;
        margin-right: 25px;
        text-decoration: none;
        color: #fff;
        font-size: 1.3rem;
        font-weight: 300;
      }
      .hero-series-subtitle {
        margin-top: 20px;
        font-size: 1.4rem;
      }
      .hero-series-description {
        margin-top: 15px;
        font-size: 1.4rem;
        max-width: 600px;
        line-height: 2rem;
        font-weight: 300;
      }
    }
    .active {
      display: none;
    }
    .gradient {
      width: 100%;
      height: 150px;
      margin-top: -150px;
      background: rgb(0,0,0);
      background: linear-gradient(0deg, rgba(0,0,0,1) 36%, rgba(0,0,0,0) 100%);
    }
    .series-courflix {
      margin: -100px 0 50px;
      padding: 0 80px;
      display: flex;
      flex-direction: column;
      width: 100%;
      -ms-overflow-style: none;
      ::-webkit-scrollbar {
        display: none;
        height: 0;
        width: 0;
        background-color: transparent;
         }
      .carousel-wrapper {
        .series-title {
          font-size: 1.5rem;
          color: #fff;;
          font-weight: bold;
        }
        .series-carousel {
          display: flex;
          flex-direction: row;
          overflow-x: auto;
          scroll-snap-type: x mandatory;
          scroll-snap-stop: always;
          -webkit-overflow-scrolling: touch;
          margin-top: 22px;
          margin-bottom: 50px;
          align-items: center;
          .series {
            margin-right: 16px;
            scroll-snap-align: start;
            display: flex;
            flex-direction: column;
            align-items: center;
            .preview-link {
              
              .series-img {
                margin-bottom: 10px;
              }
            }
            .grey-loading {
              margin-top: 5px;
              height: 7px;
              width: 280px;
              background-color: grey;
              .red-loading-1 {
                width: 43%;
                background-color: indianred;
                height: 100%;
              }
              .red-loading-2 {
                width: 17%;
                background-color: indianred;
                height: 100%;
              }
              .red-loading-3 {
                width: 90%;
                background-color: indianred;
                height: 100%;
              }
              .red-loading-4 {
                width: 65%;
                background-color: indianred;
                height: 100%;
              }
            }
          }            
          }
          }
      }
      }
  }
  //.footer {
  //  background-color: #020202;
  //  color: #fff;
  //  .social-media {
  //    .fab {
  //      font-size: 1.5rem;
  //    }
  //  }
  //  .help-links {
  //    .contact-us {
  //    }
  //  }
  //} 
