*, *:before, *:after {
  box-sizing: border-box;
}

.wrapper .header {
  background-color: rgba(0, 0, 0, 0.801218);
  display: flex;
  align-items: center;
}
.wrapper .header .header-title {
  padding: 13px 85px;
}
.wrapper .header .header-options {
  color: #fff;
  padding-right: 27px;
}
.wrapper .main {
  background-color: #111;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.wrapper .main .hero-img {
  background-image: url(/assets/portada.png);
  background-size: cover;
  height: 843px;
  padding: 130px 80px 0;
  color: #fff;
}
.wrapper .main .hero-img .hero-subtitle {
  font-size: 1.75rem;
  margin-bottom: 16px;
}
.wrapper .main .hero-img .hero-title {
  font-size: 7.5rem;
  max-width: 550px;
  margin-bottom: 20px;
  line-height: 6rem;
}
.wrapper .main .hero-img .hero-button {
  padding: 15px 45px;
  background: rgba(157, 151, 151, 0.541521);
  border-radius: 9px;
  margin-right: 35px;
  text-decoration: none;
  color: #fff;
  font-size: 21px;
}
.wrapper .main .hero-img .hero-series-subtitle {
  margin-top: 40px;
  font-size: 1.5rem;
}
.wrapper .main .hero-img .hero-series-description {
  margin-top: 10px;
  font-size: 1.5rem;
  max-width: 550px;
}
.wrapper .main .series-courflix {
  margin: -70px 80px 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.wrapper .main .series-courflix .carrousel-wrapper .series-title {
  font-size: 1.3rem;
  color: #fff;
}
.wrapper .main .series-courflix .carrousel-wrapper .series-carrousel {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  margin-bottom: 30px;
}
.wrapper .main .series-courflix .carrousel-wrapper .series-carrousel .series-img {
  margin-right: 16px;
  scroll-snap-align: start;
}
.wrapper .main .series-courflix .carrousel-wrapper .series-carrousel .started-series-wrapper {
  display: flex;
  flex-direction: column;
}
.wrapper .main .series-courflix .carrousel-wrapper .series-carrousel .started-series-wrapper .series-img {
  margin-right: 16px;
  scroll-snap-align: start;
}
.wrapper .main .series-courflix .carrousel-wrapper .series-carrousel .started-series-wrapper .grey-loading {
  margin-top: 5px;
  height: 7px;
  width: 341px;
  background-color: grey;
}
.wrapper .main .series-courflix .carrousel-wrapper .series-carrousel .started-series-wrapper .grey-loading .red-loading-1 {
  width: 43%;
  background-color: indianred;
  height: 7px;
}
.wrapper .main .series-courflix .carrousel-wrapper .series-carrousel .started-series-wrapper .grey-loading .red-loading-2 {
  width: 17%;
  background-color: indianred;
  height: 7px;
}
.wrapper .main .series-courflix .carrousel-wrapper .series-carrousel .started-series-wrapper .grey-loading .red-loading-3 {
  width: 90%;
  background-color: indianred;
  height: 7px;
}
.wrapper .main .series-courflix .carrousel-wrapper .series-carrousel .started-series-wrapper .grey-loading .red-loading-4 {
  width: 65%;
  background-color: indianred;
  height: 7px;
}

/*# sourceMappingURL=styles.css.map */
